@import './app/shared/common/styles/common.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: var(--app-font-family);
  background: var(--color-bg);
}
